body {
    background-color: #BBD6B8;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #AEC2B6;
    border-width: 5px;
    width: 5%;              
}

h1 {
    color: #022913;
}

h3 {
    color: #1a5734;
}