body {
    background-color: #BBD6B8;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #053a1a;
    border-width: 5px;
    width: 7%;              
}

h1 {
    color: #AEC2B6;
}

h3 {
    color: #AEC2B6;
}